<?php
$db_connections = array (
  0 =>
  array (
    "name" => "{{ fa_db }}",
    "host" => "{{ fa_mariadb_host }}",
    "port" => 3306,
    "dbuser" => "{{ fa_db_user }}",
    "dbpassword" => "{{ fa_db_pass }}",
    "dbname" => "{{ fa_db }}",
    "tbpref" => "0_",
  ),
);
?>